:root {
  --base-size: 1rem;
  --size-sm: calc(var(--base-size) * 0.8);
  --size-lg: calc(var(--base-size) * 1.33);
  --size-xl: calc(var(--base-size) * 1.77);
  --size-xxl: calc(var(--base-size) * 2.4);
  --font: "IBM Plex Sans", Helvetica, Arial, sans-serif;
  --font-mono: "IBM Plex Mono", Courier New, Courier, monospace;
  --primary: #231651;
  --secondary: #ff8484;
  --secondary-shade: #ff5151;
  --tertiary: #2c988c;
  --tertiary-glare: #d6fff6;
  --light: #fafafa;
  --light-shade: #eeeeee;
  --gray: #c4c4c4;
}

// Breakpoints
$breakpoint-md: 48em;
