.pill {
  display: inline-block;
  padding: 0.3rem 0.35rem;
  font-size: var(--size-sm);
  text-decoration: none;
  line-height: 1;
  white-space: nowrap;
  text-align: center;

  &:not([class*='bg-']) {
    background: var(--gray);
  }

  [lang*='en'] & {
    text-transform: capitalize;
  }
}
